.home {
  &__main {
    background-image: url(/assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;

    & > section:first-of-type {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
  }
}
